body {
    background: url('../img/grey_wash_wall.png');
    font-family: 'Titillium Web', sans-serif;
}

.jumbotron {
    box-shadow: 0px 0px 5px 2px black;
    border-radius: 0;
    padding: 18px;
}

#logo {
    letter-spacing: 2px;
    display: inline-block;
}

#logo-gif {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

#logo-hub {
    background: rgb(0,255,255);
    box-shadow: 0px 0px 5px 2px rgb(0,255,255);
    padding: 0px 2px 0px 2px;
    margin: 0px 4px 0px 4px;
    border-radius: 5px;
}

#form {
    margin-top: 30px;
}

#form-input {
    color: #f8f9fa;
    border: none;
    border-bottom: #f8f9fa73 solid 1px;
    outline: none;
    background: #ffffff0c;
}

::placeholder {
    color: #f8f9fa73;
}

#form-submit {
    padding: 0px 10px 0px 10px;
}

.gif-button {
    text-transform: capitalize;
    box-shadow: 0px 0px 5px 2px rgb(0,255,255);
    background: #343a40;
    border: none;
    margin: 0px 5px 20px 5px;
}

.gif {
    margin: 5px;
    display: inline-block;
}

.gif-ratings {
    margin: 20px 10px 3px 10px;
    color: rgb(0,255,255);
    background: #343a40;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.gif-image {
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px rgb(0,255,255);
    border-radius: 5px;
}

.gif-image:hover {
    box-shadow: 0px 0px 5px 2px rgb(0,255,255);
}