html {
    min-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

body {
    background: url('../img/grey_wash_wall.png');
}

.jumbotron {
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 0px 0px 5px 2px black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px;
    clear: both;
}

#header {
    text-align: left;
    letter-spacing: 2px;
}

#header-content {
    border-radius: 3px;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

#hubBG {
    background: yellow;
    /* background: rgb(0,255,255); */
    padding: 0px 2px 0px 2px;
    margin: 0px 4px 0px 4px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px yellow;
    border: none;
}

#motto {
    padding-top: 15px;
    margin: 0;
    font-size: 20px;
}

#form {
    overflow: hidden;
    text-align: right;
    margin-top: 30px;
}

#input {
    color: #f8f9fa;
    border: none;
    border-bottom: #f8f9fa73 solid 1px;
    outline: none;
    width: 50%;
    background: #ffffff0c;
}

::placeholder {
    color: #f8f9fa73;
}

#btn {
    color: yellow;
    padding: 2px;
}

#btn:hover {
    color: #212529; 
}

.btn {
    margin: 5px;
}

.gif {
    margin: 3px;
}

p {
    margin: 20px 10px 3px 10px;
}